.homeBigText {
    font-size: 75px;
    width: 40%;
    color: #003c4b;
    text-align: center;
    margin-right: 45px;
}

.homeTextContainer {
    width: 60%;
    margin-left: 45px;
}

.homeText {
    color: #003c4b;
}

.homeImgTitle {
    text-align: center;
    color: #fff;
    font-size: xxx-large;
    margin-bottom: 45px;
}

.sectionTitle {
    background-color: #005456;
    padding: 30px 0 30px 0;
    text-align: center;
    color: #fff;
    font-size: xx-large;
    font-weight: bold;

}

.imageStyle {
    width: 50%;
}

.blueSubtitle {
    background-color: #004456;
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}

.imageGalleryItem {
    width: -moz-available;
}

.titleOrganization {
    font-size: large;
}

.OrganizationImgLogo {
    width: 230px;
    margin: 20px;
}