.image-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    display: block;
    width: 50px;
    height: auto;
}

.circleIcon {
    width: 50px;
}

.cardNumber {
    font-size: xxx-large;
    color: #004456;
    margin: 20px 0 0 0;
}

.cardText {
    font-size: large;
    color: #0065a4;
    margin: 0 0 20px 0;

}