.dateComponent {
    background-color: #004456;
    width: 150px;
    margin: 0 50px 0 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Numberfont {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
}

.aboutUsImg {
    width: 450px;
}

.aboutUsImgLogo {
    width: 150px;
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.separator {
    margin: 20px 0 20px 0;
    width: 80%;
}

.infoText {
    color: #004456;
}

.infoboldText {
    color: #2f6ead;
}

.borderTop {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.borderBottom {
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.aboutUsTitle {
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: #004456;
}

.aboutUsSubTitle {
    font-size: xxx-large;
    text-align: center;
    margin: 0;
    color: #004456;
    margin-bottom: 50px;
}